{% extends "pretixpresale/base.html" %}
{% load i18n %}
{% load static %}
{% load thumb %}
{% load eventurl %}
{% load safelink %}
{% load rich_text %}
{% load compress %}
{% load presale_locale %}
{% load staff_session %}
{% load event_tags %}

{% block container_width %} presale-container{% endblock %}

{% block title %}
    {% if messages %}
        {{ messages|join:" " }} ::
    {% endif %}
    {% block pagetitle %}{{ event.name|event_localize }}{% endblock %}
{% endblock %}

{% block custom_header %}
    {% if event.settings.meta_noindex %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}
    <meta property="og:type" content="website" />
    {% if social_image %}
        <meta property="og:image" content="{{ social_image }}" />
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block site_notice %}
    {{ block.super }}
    {{ request.organizer.slug|json_script:"organizer_name" }}
    {% private_testmode_tickets_enabled as private_testmode_tickets %}
    {% if private_testmode_tickets %}
        {% if request.user.is_authenticated %}
            {% has_event_perm "base.orga_access_event" request.user request event as is_organiser %}
            {% can_view_tickets as can_view_tickets %}
            <div class="offline-banner {% if event.settings.logo_image %}offline-banner-absolute{% endif %}">
                <div class="container">
                    <span class="fa fa-user-secret" aria-hidden="true"></span>
                    {% if can_view_tickets %}
                        {% trans "This shop is currently in private test mode. Only event team members and system administrators can view or purchase tickets." %}
                        <a href='{% url "eventyay_common:event.live" event=event.slug organizer=event.organizer.slug %}'>
                            {% trans "Manage shop status" %}
                        </a>
                    {% else %}
                        {% trans "This event is currently in private test mode. Ticket sales are not available." %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% elif not event.live %}
        {% has_event_perm "base.orga_access_event" request.user request event as is_organiser %}
        {% can_view_tickets as can_view_tickets %}
        <div class="offline-banner {% if event.settings.logo_image %}offline-banner-absolute{% endif %}">
            <div class="container">
                <span class="fa fa-user-secret" aria-hidden="true"></span>
                {% if can_view_tickets %}
                    {% trans "This shop is currently offline. Only event team members and system administrators can purchase tickets." %}
                    <a href='{% url "eventyay_common:event.live" event=event.slug organizer=event.organizer.slug %}'>
                        {% trans "Take it live now" %}
                    </a>
                {% else %}
                    {% trans "This event is currently offline. Ticket sales are not yet available." %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block header_tabs %}
    {% if request.event.settings.organizer_link_back %}
        <a class="header-tab" href="{% eventurl request.organizer "presale:organizer.index" %}">
            &laquo; {% blocktrans trimmed with name=request.organizer.name %}
            Show all events of {{ name }}
        {% endblocktrans %}
        </a>
    {% endif %}
    {% include "common/fragment_nav.html" with nav_context="presale" %}
{% endblock header_tabs %}


{% block alerts %}
    {% if request.event.testmode %}
        {% has_event_perm "base.orga_access_event" request.user request request.event as is_organiser %}
        {% if request.event.live or is_organiser %}
            {% if request.sales_channel.testmode_supported %}
                <div class="alert alert-warning alert-margin">
                    <strong>
                        {% trans "This ticket shop is currently in test mode. Please do not perform any real purchases as your order might be deleted without notice." %}
                    </strong>
                </div>
            {% else %}
                <div class="alert alert-danger">
                    <strong>
                        {% trans "Orders made through this sales channel cannot be deleted - even if the ticket shop is in test mode!" %}
                    </strong>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if request.event.settings.banner_text %}
        <div class="site-notice-top">
            {{ request.event.settings.banner_text|event_localize|rich_text }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% block page_content %}{{ block.super }}{% endblock %}
{% endblock %}

{% block footer %}
    {% if request.event.settings.banner_text_bottom %}
        <div class="site-notice-bottom">
            {{ request.event.settings.banner_text_bottom|event_localize|rich_text }}
        </div>
    {% endif %}
    {% if request.event.testmode %}
        {% has_event_perm "base.orga_access_event" request.user request request.event as is_organiser %}
        {% if request.event.live or is_organiser %}
            {% if request.sales_channel.testmode_supported %}
                <div class="alert alert-testmode alert-warning">
                    <strong>
                        {% trans "This ticket shop is currently in test mode. Please do not perform any real purchases as your order might be deleted without notice." %}
                    </strong>
                </div>
            {% else %}
                <div class="alert alert-testmode alert-danger">
                    <strong>
                        {% trans "Orders made through this sales channel cannot be deleted - even if the ticket shop is in test mode!" %}
                    </strong>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block footernav %}
    {% if request.event.settings.contact_mail %}
        <a href="mailto:{{ request.event.settings.contact_mail }}">{% trans "Contact event organizer" %}</a> &middot;
    {% endif %}
    {% if request.event.settings.imprint_url %}
        <a href="{% safelink request.event.settings.imprint_url %}" target="_blank" rel="noopener">{% trans "Imprint" %}</a>
        &middot;
    {% endif %}
{% endblock %}
